.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E3E5E9;
}
.table {
  background-color: white;
  box-sizing: border-box;
}

.navbar-style{
  background-color: #EC7000;
}
 .nav-link {
  color: white;
 }

 .nav-link:hover{
  color: #003399;
  font-weight: bolder;
 }

 .active {
  color: #003399;
  font-weight: bolder;
 }

.fixed {
  width: 100vw;
  position:fixed;
}

.section {
  padding-top: 15vh;
}

@media screen and (max-width: 768px) {
  .table{
    font-size: 0.6rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  li {
    font-size: 0.8rem;
  }

  
}